/*Extra css*/
html, body{
    height: 100%;
    margin: 0;
}
/*---------*/
#root{
    height: 100%;
}
.header {
  height: 60px;
  width: 100%;
  background-color: blue;
  margin: 0px;
}
.Container_QRCode{
  display: block;
  float: left;
}

.Container_PIN{
  display: block;
  float: left;
}
.textheader {
  color: white;
  margin: 0;
  font-size: 30px;
  padding: 20px;
  font-weight: normal;
}

.content {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
  
.footer {
  height: 80px;
  bottom: 0;
  background-color: #2d9bf0 ;
  width: 100%;
  margin: 0;
}

.textfooter {
  text-align: center;
  color: white;
  font-size: 35px;
  margin: 5px;
  font-weight: normal;
}

.textcopy {
  font-size: 17.5px;
  height: 0;
  font-weight: normal;
  margin-top: 0;
  text-align: right;
  color: white;
  padding: 0 20px;
}
.Comanda {
  height: 100%;
  display: flex;
  flex-direction: column;
}