/* Fontes */
@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900&display=swap');

/* Material Icons para material-table */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*Extra css*/
html, body{
  height: 100%;
  margin: 0;
}

#root{
  height: 100%;
}
.header {
  height: 60px;
  width: 100%;
  background-color: blue;
  margin: 0px;
}

.logo-cit{
  height: 60%;
  /* -webkit-filter: drop-shadow(2px 2px 1px rgb(44, 44, 44));
  filter: drop-shadow(2px 2px 1px rgb(44, 44, 44)); */
}

.Container_QRCode{
  display: block;
  float: left;
}

.Container_PIN{
  display: block;
  float: left;
}

.textheader {
  font-family: 'Caveat', cursive;
  color: white;
  margin: 0;
  font-size: 42px;
  padding: 20px;
  font-weight: 700;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  width: 100%;
}

.footer {
  height: 100px;
  bottom: 0;
  background-color: #2d9bf0 ;
  width: 100%;
  margin: 0;
}

.textfooter {
  font-family: 'Caveat', cursive;
  text-align: center;
  color: white;
  font-size: 35px;
  margin: 5px;
  font-weight: normal;
}

.textcopy {
  font-family: 'Roboto Slab';
  font-size: 15px;
  height: 0;
  font-weight: 300;
  margin-top: 0;
  text-align: right;
  color: white;
  padding: 0 20px;
}

.Comanda {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#telaAbrirComanda #comandaSaudacao,
#telaScanQrcode #titulo,
#telaExtrato #titulo {
  font-family: 'Roboto Slab';
}

/* ----------- TELA LOGIN ----------- */

#telaLogin #password-input{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

/* ----------- TELA ABRIR COMANDA ----------- */

#telaAbrirComanda #rowQRCodePin{
  margin-top: 50px;
}

/* ----------- TELA SCAN QRCODE ----------- */

#telaScanQrcode #rowButtonReturnAbrirComanda{
  margin-top: 20px;
}


/* ----------- TELA EXTRATO----------- */

#telaExtrato #tabelaExtrato{
  margin-top: 2vw;
}

#telaExtrato #selectCliente{
  min-width: 200px;
}

.floatLeft {
  display: block !important;
  float: left !important;
}