/*Extra css*/
html, body{
    height: 100%;
    margin: 0;
}
/*---------*/
#root{
    height: 100%;
}

.header {
  height: 60px;
  width: 100%;
  background-color: blue;
  margin: 0px;
}

.textheader {
  color: white;
  margin: 0;
  padding: 20px;
  font-weight: normal;
}

.content {
    width: 100%;
    overflow-y: auto;
    margin-bottom: 80px;
}
  
.footer {
  position: fixed;
  height: 80px;
  bottom: 0px;
  background-color: #2d9bf0 ;
  width: 100%;
  margin: 0;
}

.textfooter {
  text-align: center;
  color: white;
  margin: 5px;
  font-weight: normal;
  
}

.textcopy {
  font-weight: normal;
  margin-top: 0;
  text-align: right;
  color: white;
  padding: 0 20px;
}